<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title%></h1>
    <div>
        <span><%= userinfo.id%></span>님 환영합니다.
    </div>
    <div>
        <span><%= userinfo.pw%></span>가 pw 이죠??
    </div>
    <br>
    <br>
    <a href="/">홈으로 이동</a>
</body>
</html>