<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>회원가입 페이지</h1>

    <form name="register">
        <input type="text" id="userid" name="userid" placeholder="아이디"><br>
        <input type="text" id="pw" name="pw" placeholder="패스워드"><br>
        <button type="button" onclick="loginFF()">회원가입</button>
    </form>

    <script>
        async function loginFF(){
            const form = document.forms['register'];
            const data = {
                userid : form.userid.value,
                pw : form.pw.value,
            }

            const result = await axios({
                url: '/login',
                method : "POST",
                data,
                
            })
            if(result.data.result) {
                document.location.href ='/login';
            }
        }
    </script>
</body>
</html>