<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% let a = ""; %>
         <%=data%> 
        <h2><%="구구단"%></h2>
        <% for(i = 0; i < 9; i++){ %>
        <%    for(j = 1; j < 10; j++){ %>
        <%        a =`${data[i]} * ${j} = ${data[i]*j}`; %>
                <p id="gugu">
                
                    <%=a%>
                </p>     
        <%    }%>            
        <%} %>
        <div>qudtlsrkxsp</div>


    </div>
    <script>
        document.getElementById("").innerText
    </script>
</body>
</html>