<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/getForm" method="get">
        <input type="text" name="id">
        <input type="password" name="pw" placeholder="pw">
        <button type="submit">제출</button>
    </form>

    <form action="/postForm" method="post">
        <input type="text" name="id">
        <input type="password" name="pw" placeholder="pw">
        <button type="submit">제출</button>
    </form>
</body>
</html>

<!-- 
    readoniy: 선택안됨. 백엔드 데이터 전송 가능
    disabled: 선택안됨. 백엔드 데이터 전송도 안됨.
 -->