.header-container {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}
.header-container input {
    border: 2px solid #e5eff9;
    border-radius: 30px;
    height: 3rem;
    margin-right: 1rem;
    width: 50%;
    padding: 20px;
    font-size: 16px;
}
.header-container input:focus {
    border: 2px solid #d5e7f9
}
.header-container button {
    margin: 1rem;
    height: 3rem;   
}