p.lion{
    background-color: red;
}

ul .lion {
    background-color: greenyellow;
    font-weight: bold;
}

#tiger {
    background-color: yellow;
}

.lion {
    color: sienna;
}

#tiger + li {
    background-color: skyblue;
}

li.lion ~li {
    background-color: orange;
}

/* 강사님 방식 */
/* 
.zoo + .lion

.zoo .lion

#tiger

.lion

#tiger + li

.zoo li  */