<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영 페이지</title>
</head>
<body>
    <h2>안녕하세요 ppage에 온 것을 환영합니다!</h2>
    <a href="/user/signup">회원가입</a>
    <a href="/user/signin">로그인</a>
    <!-- <a href="/user/profile">프로필 보기</a> -->
    
</body>
</html>