<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>jwt 실습</h1>
    <div id="info">

        
        <button>로그아웃</button>
    </div>

    <script>
        // ▽ 즉시 실행 함수
        ( async function(){
            const token = localStorage.getItem('login');//set아이템할떄 login 쓰면됨
            const info = document.querySelector('#info');
            let data = '';
            if (!token) {
                data = '<a href="/login">로그인</a>'

            } else {
                axios({
                    method: "POST",
                    url: '/token',
                    headers: {
                        Authorization: `Bearer ${token}`,
                    },
                });
                if(res.data.result) {
                    data =
                    `<p>${res.data.name}님 환영합니다</p>
                    <button type='button' onclick='logout()'>로그아웃</button>`;
                 }

            }
            info.innerHTML = data;
            })

    </script>
</body>
</html>