.button-container {
    width: 100px; 
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-container button {
    width: 80%;
    height: 2rem;
    font-size: x-large;
    margin-bottom: 2rem;
}