<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initialscale=1.0" />
        <title>방명록 자세히 보기</title>
    </head> 
    <body>
        <h1><%= data.name %>님의 방명록입니다.</h1>
        <a href="/visitor">방명록 목록 보기</a>
        <p>내용: <%= data.comment %></p>
    </body>
</html>